<div class = container>
  <h1 class="home-title">靴選び応援アプリ</h1>
  <p class="home-subtitle">ここでは、あなたのニーズに合った靴を見つけられます！</p>

  <button type="button" class="btn btn-outline-primary" btn-lg>靴を探す</button>
</div>